.footer-legal {
  padding-bottom: 50px;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;

  .mobile {
    display: none;

    p {
      margin: 0;
    }
  }

  @media (max-width: 768px) {
    padding-bottom: 30px;
    font-size: 10px;
    line-height: 170%;

    .desktop {
      display: none;
    }

    .mobile {
      display: block;
    }
  }
}
