.navigation-container {
  display: flex;
  justify-content: space-between;
  max-width: 820px;
  width: calc(100% - 320px);

  .navigation-item {
    h5 {
      margin: 0 0 15px;
      font-family: Avenir;
      font-weight: 800;
      font-size: 14px;
      line-height: 19px;
      color: #FFFFFF;
    }

    a {
      display: block;
      color: #FFFFFF;
      text-decoration: none;
      font-size: 14px;
      line-height: 19px;
      margin: 5px 0px;
    }
  }

  .mobile-item {
    display: flex;
    align-items: center;
    padding: 0;
    min-height: 48px;
    border-bottom: 0.5px solid #fff;

    &:last-child {
      border-bottom: none;
    }

    h5, a {
      margin: 0;
      font-weight: 900;
      text-transform: lowercase;
      font-family: Avenir;
    }

    a {
      padding: 10px 0;
    }

    .accordion-wrapper {
      box-shadow: none;
      background-color: transparent;
      width: 100%;
      
      &:before {
      display: none;
      }

      &.expanded {
        margin: 0;
      }

      .accordion-summary {
        padding: 0;
        height: 48px;
  
        &.expanded {
          height: 48px;
          min-height: 48px;
        }
  
        .expandIcon {
          color: #fff;
        }
      }

      .accordion-details {
        padding: 0 16px;
        flex-direction: column;
      }
    }
  }

  &.mobile {
    display: none;
  }

  @media (max-width: 1024px) and (min-width: 768px) {
    max-width: 360px;
    flex-wrap: wrap;

    .navigation-item { 
      width: calc(100% / 2);
      margin-bottom: 40px;
    }
  }

  @media (max-width: 768px) {
    width: 100%;
    flex-direction: column;

    &.desktop {
      display: none;
    }

    &.mobile {
      display: block;
    }
  }
}