body {
  font-family: "Avenir LT Pro";
  margin: 0;
}

.footer {
  background-color: #48c6d9;

  .footer-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  
    .footer-data-container {
      width: 1140px;
      padding: 50px 0 70px;
      margin: 0 50px;
      display: flex;
      justify-content: space-between;
  
      .footer-logo-container {
        width: 220px;
        display: flex;
        flex-direction: column;
  
        .footer-logo {
          width: 100%;
          height: 96px;
          margin-bottom: 20px;
          background-color: #fff;
        }
  
        .footer-social {
          width: 100%;
          height: 29px;
          margin-top: 20px;
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }

  @media (max-width: 1024px) and (min-width: 768px) {
    .footer-wrapper {
      .footer-data-container {
        justify-content: space-around;
        padding-bottom: 30px;

        .footer-logo-container {
          align-self: center;
          margin-top: -50px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .footer-wrapper {
      .footer-data-container {
        flex-direction: column-reverse;
        align-items: center;
        padding: 30px 0;
        margin: 0 30px;

        .footer-logo-container {
          width: 200px;
          align-items: center;

          .logo-icon {
            width: 70%;
          }
        }
      }
    }
  }
}
